<ion-header>
  <ion-toolbar>
      <ion-title>Working with p5.js</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container-C">
  
  </div>
  
  <div id="canvasContainer" class="canvas-container"></div>

  <div>
    <ion-button id="b_point" name="brush-outline" (click)="modeChange('point')">Point</ion-button>
    <ion-button id="b_line" name="resize-outline" (click)="modeChange('line')">Line DDA</ion-button>
    <ion-button id="b_lineB" name="remove-outline" (click)="modeChange('line_Bre')">Line Bresenham</ion-button>
    <ion-button id="b_circle" name="ellipse-outline" (click)="modeChange('circle')">Circle</ion-button>
    <ion-button id="b_ellipse" name="ellipsis-horizontal-circle-outline" (click)="modeChange('ellipse')">Ellipse</ion-button>
    <ion-button id="b_paint" name="paint" (click)="modeChange('paint')">Paint</ion-button>
    <input type="color" value="#000000" id="muestrario">
  </div>
</ion-content>