<ion-header>
  <ion-toolbar>
      <ion-title>Working with p5.js</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="canvasContainer" class="canvas-container"></div>
  <div>
    <ion-button id="b_point" (click)="modeChange('point')">Point</ion-button>
    <ion-button id="b_line" (click)="modeChange('line')">Line</ion-button>
    <ion-button id="b_lineB" (click)="modeChange('line_Bre')">Line Bresenham</ion-button>
    <ion-button id="b_circle" (click)="modeChange('circle')">Circle</ion-button>
    <ion-button id="b_ellipse" (click)="modeChange('ellipse')">Ellipse</ion-button>
    <input type="color" value="#ff0000" id="muestrario">
  </div>
</ion-content>